@import "tailwindcss";

* Hide scrollbar but allow scrolling */
html {
  scrollbar-width: none;        /* Firefox */
}

html::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Edge */
}